{% extends 'nomina/base.html' %}

{% block content %}
<h2>Lista de Nóminas</h2>
<a href="{% url 'nomina_create' %}" class="btn btn-primary mb-3">Nueva Nómina</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Año-Mes</th>
            <th>Total Ingresos</th>
            <th>Total Descuentos</th>
            <th>Neto</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for nomina in page_obj %}
        <tr>
            <td>{{ nomina.aniomes }}</td>
            <td>${{ nomina.tot_ing }}</td>
            <td>${{ nomina.tot_des }}</td>
            <td>${{ nomina.neto }}</td>
            <td>
                <a href="{% url 'nomina_detail' nomina.pk %}" class="btn btn-sm btn-info">Ver Detalles</a>
                <a href="{% url 'nomina_delete' nomina.pk %}" class="btn btn-sm btn-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'nomina/pagination.html' %}
{% endblock %}